<!doctype html>
<html>
<head>
  <title>RaceME</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Imported Stylesheets -->

  <!-- Imported Scripts -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->

  <!-- Google Fonts  -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
</head>

<body>
    {{{body}}}
</body>
</html>
