<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>



<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">race<b>ME</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Discover</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div id="section0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Racial Disparities in Mental Health</h1>
                <p class="lead">San Diego 2010 - 2012 </p>
                <img src="/images/brains.png" style="width:100%">
            </div>
        </div>
        <!-- /.row -->
      </div>
    </div>

    <div id="section1">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <p> race<b>ME</b> visually displays evidence for mental health and mental health care disparities in San Diego, comparing them
                     to patterns in health. Strategies for addressing disparities in health care, such as improving access
                     to and quality of care, should also work to eliminate mental health care disparities.</p>
              </div>
          </div>
          <!-- /.row -->
        </div>
    </div>

    <div id="section2">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1>Approximate Percentages of Mental Disorders Present in San Diego</h1>
                  <table style="width:100%">
                    <tr>
                      <td width="33%"><div id="donut"></div>
                        <table style="width:100%" border="1" id="t1">
                          <tr>
                            <td><font color="#007ac2"><h3>Mood Disorders</h3></font></td>
                          </tr>
                          <tr>
                            <td style="line-height: 25px" id="td2">Mood disorders include major depressive disorder, dysthymic disorder, and bipolar disorder. Approximately 20.9 million American adults, or about <b>9.5%</b> of the U.S.
                              population age 18 and older in a given year, have a mood disorder.
                              The median age of onset for mood disorders is 30 years.<p><br></p></td>
                          </tr>
                        </table>
                      <td width="33%"><div id="donut1"></div>
                        <table style="width:100%" border="1" id="t1">
                          <tr>
                            <td><h3><font color="#007ac2">Depression</h3></font></td>
                          </tr>
                          <tr>
                            <td style="line-height: 25px" id="td2">Affects approximately 14.8 million American adults, or about <b>6.7%</b> of the U.S. population age 18 and older in a given year.
                              Persistent depressive disorder, or PDD, (formerly called dysthymia) is a form of depression that usually continues for at least two years.<p><br></p></td>
                          </tr>
                        </table>
                      </td>
                      <td width="33%"><div id="donut2"></div>
                        <table style="width:100%" border="1" id="t1">
                          <tr>
                            <td><h3><font color="#007ac2">Schizophrenia</h3></font></td>
                          </tr>
                          <tr>
                            <td style="line-height: 25px" id="td2">Schizophrenia is a chronic and severe neurological brain disorder estimated in 2014 to affect <b>1.1%</b> of the population or
                              approximately 2.6 million adults in the United States aged 18 or older.
                               An estimated 40 percent of individuals with the condition are untreated in any given year.<p><br></p></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
              </div>
          </div>
          <!-- /.row -->
        </div>
    </div>


    <div id="section3">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1>San Diego Demographics Profile</h1>
                  <left>

                  <div class="chart1" style="width: 100% !important"></div>
                </left>
              </div>
          </div>
          <!-- /.row -->
        </div>
    </div>




    <!-- /.container
    <div class="chart">
    </div>-->

    <div id="finalChart">
    </div>
    <div id="expandedChart">
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom JavaScripts and D3 -->
    <script src="js/d3.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/donut.js"></script>
    <script src="js/donut1.js"></script>
    <script src="js/donut2.js"></script>

</body>

</html>
